<div class="overflow-auto-custom">
    <or-spinner [channel]="fachberatungChannel"></or-spinner>
    <avam-fachberatungen-table *ngIf="dataSource" [dataSource]="dataSource" (onItemSelected)="itemSelected($event)"></avam-fachberatungen-table>
</div>

<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="dataSource">
        <avam-fachberatungen-table *ngIf="dataSource" [dataSource]="dataSource"></avam-fachberatungen-table>
    </avam-generic-table-print>
</ng-template>

<ng-template #footerButtons>
    <button class="btn btn-primary ml-1" type="button" (click)="create()" [permissions]="[permissions.STES_VM_ZUWEISUNG_FB_BEARBEITEN]">
        <span class="fa fa-plus mr-2"></span>
        {{ 'common.button.fachberatungerfassen' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
