.avam-panel {
    padding: 0;
}

.header {
    border-bottom: 1px outset;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;

}

.collapsed-content {
    padding: 0 40px 0 0;
}