<div [formGroup]="leistungsexportForm" #ngForm="ngForm" closeBrowserTab autocomplete="off">
    <div class="row">
        <or-spinner [channel]="leistungsexportChannel"></or-spinner>
        <div class="links col-xl-6">
            <div class="avam-panel">
                <avam-label-calendar
                    avamAutofocus
                    controlName="antragdatum"
                    id="antragdatum"
                    calendarLabel="{{ 'stes.label.antragdatum' }}"
                    [parentForm]="leistungsexportForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                ></avam-label-calendar>
            </div>
            <div class="avam-panel">
                <avam-label-calendar
                    controlName="abreisedatum"
                    id="abreisedatum"
                    calendarLabel="{{ 'stes.label.datumabreise' }}"
                    [parentForm]="leistungsexportForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                ></avam-label-calendar>
                <avam-label-calendar
                    controlName="datumlstexpvon"
                    id="datumlstexpvon"
                    calendarLabel="{{ 'stes.label.datumlstexpvon' }}"
                    [parentForm]="leistungsexportForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                    (keydown.Tab)="onDateFromTabOut()"
                ></avam-label-calendar>
                <avam-label-calendar
                    controlName="datumlstexpbis"
                    id="datumlstexpbis"
                    calendarLabel="{{ 'stes.label.datumlstexpbis' }}"
                    [parentForm]="leistungsexportForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                ></avam-label-calendar>
                <avam-label-calendar
                    controlName="datumrueckkehr"
                    id="datumrueckkehr"
                    calendarLabel="{{ 'stes.label.datumrueckkehr' }}"
                    [parentForm]="leistungsexportForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                ></avam-label-calendar>
            </div>
            <div class="avam-panel">
                <avam-label-checkbox
                    componentId="anspruchsberechtigtFurL"
                    controlName="anspruchsberechtigtFurL"
                    [parentForm]="leistungsexportForm"
                    selectLabel="{{ 'stes.label.anspruchsberechtigtFuerLeistungsexport' }}"
                ></avam-label-checkbox>
                <avam-label-checkbox
                    componentId="antragabgewiesen"
                    controlName="antragabgewiesen"
                    [parentForm]="leistungsexportForm"
                    selectLabel="{{ 'stes.label.antragabgewiesen' }}"
                ></avam-label-checkbox>
                <avam-label-checkbox
                    componentId="antragpendent"
                    controlName="antragpendent"
                    [parentForm]="leistungsexportForm"
                    selectLabel="{{ 'stes.label.antragpendent' }}"
                ></avam-label-checkbox>
            </div>
        </div>
        <div class="rechts col-xl-6">
            <div class="avam-panel">
                <label>
                    <h3>{{ 'stes.label.adresseImZielstaat' | translate }}</h3>
                </label>
                <avam-country-autosuggest-dropdown
                    arrow-scrolling
                    *ngIf="countriesList"
                    [countriesList]="countriesList"
                    autosuggestLabel="{{ 'stes.label.zielstaat' | translate }}"
                    [parentForm]="leistungsexportForm"
                    controlName="zielstaatId"
                ></avam-country-autosuggest-dropdown>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 text-right">
                        <label for="strasse" class="col-form-label"> {{ 'stes.label.strasse' | translate }} {{ '/' }} {{ 'stes.label.nummer' | translate }}</label>
                    </div>
                    <div class="col-lg-6 col-md-6" orFormControlState>
                        <div>
                            <input type="text" class="form-control" formControlName="strasse" id="strasse" #inputStrasse />
                            <button tabindex="-1" type="button" role="button" [orTextControlClear]="inputStrasse">
                                <span class="fa fa-times-circle"></span>
                                <span class="sr-only">Clear text content.</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2" orFormControlState>
                        <div>
                            <input type="text" class="form-control" formControlName="strasseNr" id="strasseNr" #inputStrasseNr />
                            <button tabindex="-1" type="button" role="button" [orTextControlClear]="inputStrasseNr">
                                <span class="fa fa-times-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 text-right">
                        <label for="plz" class="col-form-label"> {{ 'stes.label.plzort' | translate }}</label>
                    </div>
                    <div class="col-lg-3 col-md-3" orFormControlState>
                        <div>
                            <input type="text" class="form-control" formControlName="plz" id="plz" #inputplz />
                            <button tabindex="-1" type="button" role="button" [orTextControlClear]="inputplz">
                                <span class="fa fa-times-circle"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5" orFormControlState>
                        <div>
                            <input type="text" class="form-control" formControlName="plzОrt" id="plzОrt" #inputplzOrt />
                            <button tabindex="-1" type="button" role="button" [orTextControlClear]="inputplzOrt">
                                <span class="fa fa-times-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <avam-label-input
                    [parentForm]="leistungsexportForm"
                    controlName="telefonprivat"
                    selectLabel="{{ 'stes.label.telefon' }}"
                    placeholder="{{ 'stes.placeholder.telefonprivat' }}"
                ></avam-label-input>
            </div>
            <div class="avam-panel">
                <app-textarea
                    customFormControlState
                    id="bemerkung"
                    formControlName="bemerkung"
                    selectLabel="{{ 'benutzerverwaltung.label.bemerkung' }}"
                    [maxLength]="255"
                ></app-textarea>
            </div>
        </div>
    </div>
</div>

<ng-template #footerButtons>
    <button class="btn btn-link" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button class="btn btn-link ml-1" type="button" (click)="reset()" [permissions]="[permissions.STES_LEISTUNGSEXPORT_SUCHEN_SICHTEN]">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button *ngIf="leistungsexportId" class="btn btn-secondary ml-1" type="button" (click)="openDeleteDialog()" [permissions]="[permissions.STES_LEISTUNGSEXPORT_BEARBEITEN]">
        {{ 'common.button.leistungsexportloeschen' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="button" (click)="save()" [permissions]="[permissions.STES_LEISTUNGSEXPORT_BEARBEITEN]">
        {{ 'i18n.common.save' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
