.labeledPrepend {
    padding-right: 0px;
    padding-left: 10px;
}

.prependHeight {
    height: fit-content;
}

.read-only {
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.margin-left-50px {
    margin-left: 50px;
}
