<or-column-layout [right]="false" avamNavCollapsedCheck>
    <div column-left-content class="sticky-main avam-panel avam-panel-extra-lighter">
        <or-spinner [channel]="formChannel"></or-spinner>
        <avam-benutzermeldungen-suchen-form #suchenFormComponent [formData]="formData" [stateKey]="formStateKey" (onEnter)="search()"></avam-benutzermeldungen-suchen-form>
    </div>
    <div column-left-content class="sticky-footer sticky-actions">
        <button type="reset" class="btn btn-link" (click)="reset()">
            {{ 'common.button.zuruecksetzen' | translate }}
        </button>
        <button type="submit" class="btn btn-primary" (click)="search()" [disabled]="!suchenFormComponent.searchForm.valid">
            <span class="fa fa-search mr-2"></span> <span>{{ 'common.button.suchen' | translate }}</span>
        </button>
    </div>
    <div column-main-content class="h-100 default-layout">
        <or-spinner [channel]="resultChannel"></or-spinner>
        <avam-benutzermeldungen-suchen-result
            [resultsData]="benutzermeldungen"
            [showBadge]="searchDone"
            (onOpenBenutzermeldung)="openBenutzermeldung($event)"
        ></avam-benutzermeldungen-suchen-result>
    </div>
</or-column-layout>
