.main-content {
    overflow-y: auto;
}

.main-content-form-up {
    height: 85%;
}

.main-content-results {
    overflow-y: auto;
}

.buttonsposition {
    background-color: white;
    height: 10%;
}
