<div>
    <or-spinner channel="sachverhaltChannel"></or-spinner>
    <avam-sachverhalt-form
        [stesId]="stesId"
        [isBearbeiten]="isBearbeiten"
        [isDisabled]="isBearbeiten && !BSP21"
        [sachverhaltId]="sachverhaltId"
        (isUpdated)="updateFormValidation($event)"
        #sachverhaltForm
    ></avam-sachverhalt-form>

    <div class="avam-panel-light">
        <h3>
            {{ 'stes.vermittlungsfaehigkeit.erfassen.table.label' | translate }}
        </h3>
    </div>

    <avam-basic-tree-table [tree]="treeArray" [options]="treeOptions" (onDoubleClick)="onRowSelected($event)" (onEnter)="onRowSelected($event)"></avam-basic-tree-table>
</div>
<ng-template #actionColumnTemplate let-element="element">
    <button
        *ngIf="element.model.data['type']"
        class="fa fa-eye btn btn-primary btn-sm buttonOnHover"
        ngbTooltip="{{ 'common.button.oeffnen' | translate }}"
        (click)="onRowSelected(element)"
        type="button"
    ></button>
</ng-template>

<ng-template #footerButtons>
    <button *ngIf="BSP21 || BSP22 || BSP23 || BSP24 || BSP25 || BSP26" class="btn btn-link" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>

    <button *ngIf="BSP21" class="btn btn-link" type="button" (click)="reset()" [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>

    <div
        *ngIf="isBearbeiten && (BSP24 || BSP25)"
        #individuelle="ngbDropdown"
        ngbDropdown
        placement="top-right"
        class="dropdown"
        [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]"
    >
        <button class="btn btn-secondary ml-1" ngbDropdownToggle (mouseenter)="individuelle.open()">
            {{ 'common.button.objekt' | translate }}
        </button>
        <div class="dropdown-menu mb-0" ngbDropdownMenu (mouseenter)="individuelle.open()" (mouseleave)="individuelle.close()">
            <button class="dropdown-item" (click)="navigateTo('stellungnahme-erfassen')">
                {{ 'common.button.stellungnahmeErfassen' | translate }}
            </button>
            <button class="dropdown-item" (click)="navigateTo('entscheid-erfassen')" [disabled]="BSP27">
                {{ 'common.button.entscheidErfassen' | translate }}
            </button>
        </div>
    </div>

    <button *ngIf="BSP22" class="btn btn-secondary ml-1" type="button" (click)="modify()" [permissionContext]="[permissions.STES_VMF_ENTSCHEID_FREIGEBEN_UEBERARBEITEN]">
        {{ 'common.button.ueberarbeiten' | translate }}
    </button>

    <button *ngIf="BSP22" class="btn btn-secondary ml-1" type="button" (click)="retract()" [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]">
        {{ 'common.button.zuruecknehmen' | translate }}
    </button>

    <button
        *ngIf="BSP21 && isBearbeiten"
        class="btn btn-secondary ml-1"
        type="button"
        (click)="deleteWithConfirm()"
        [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]"
    >
        {{ 'stes.vermittlungsfaehigkeit.button.sachverhalt.loeschen' | translate }}
    </button>

    <button *ngIf="BSP23 || BSP24" class="btn btn-primary ml-1" type="button" (click)="replace()" [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]">
        {{ 'stes.vermittlungsfaehigkeit.button.sachverhalt.ersetzen' | translate }}
    </button>

    <button *ngIf="BSP22" class="btn btn-primary ml-1" type="button" (click)="release()" [permissionContext]="[permissions.STES_VMF_ENTSCHEID_FREIGEBEN_UEBERARBEITEN]">
        {{ 'common.button.freigeben' | translate }}
    </button>

    <button *ngIf="BSP21" class="btn btn-primary ml-1" type="button" (click)="save()" [permissionContext]="[permissions.STES_SANKTION_VMF_BEARBEITEN]">
        {{ 'common.button.speichern' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
