.col-left {
    position: absolute;
    left: 0px;
    text-align: right;
}

.col-right {
    position: absolute;
    right: 0px;
    text-align: right;
}

.search-scroll {
    height: calc(100vh - 226px);
    overflow-y: auto;
}

.footer-zero-height {
    height: 0;
}

.table-min-height {
    min-height: 500px;
}