.radio-btn{
    padding-left: 20px;
    display: inline-flex;
}

.doubleButton{
    float: left;
}

.p-top{
    padding-top: 13px;
    padding-left: -20px;
}

.vmtl-radio-focus:focus {
    border-color: rgb(94, 158, 214);
    box-shadow: 0 0 6px 1px rgb(94, 158, 214);
}

.vmtl-radio-focus{
    cursor: pointer;
}


.radio-btn-text {

    margin-right: 50px;
    float: left;
    cursor: pointer;
}
