<form [formGroup]="stellensucheForm" autocomplete="off">
    <div class="print-block row">
        <div class="col-xl-6">
            <div class="avam-panel">
                <label>
                    <h3>
                        {{ 'stes.label.arbeitszeit' | translate }} /
                        {{ 'erweitertesuche.label.arbeitsform' | translate }}
                    </h3>
                </label>
                <avam-label-input
                    [parentForm]="stellensucheForm"
                    controlName="vermittlungsGrad"
                    id="vermittlungsGrad"
                    selectLabel="{{ 'stes.label.beschaeftigungsgrad' }}"
                    [readOnly]="true"
                ></avam-label-input>
                <avam-label-dropdown
                    [parentForm]="stellensucheForm"
                    controlName="arbeitszeitId"
                    [options]="arbeitSelectOptions"
                    id="arbeitszeitId"
                    selectLabel="{{ 'stes.label.arbeitszeit' }}"
                    [readOnly]="true"
                ></avam-label-dropdown>
                <app-textarea
                    customFormControlState
                    id="arbeitszeitDetail"
                    formControlName="arbeitszeitDetail"
                    selectLabel="{{ 'stes.label.arbeitszeitDetail' }}"
                    [maxLength]="255"
                    [readonly]="true"
                >
                </app-textarea>
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-right">
                        <label>{{ 'stes.label.besonderearbeitsformen' | translate }}</label>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div formArrayName="arbeitsform" *ngFor="let option of arbeitsformFormArray.controls; index as i">
                            <avam-label-checkbox
                                componentId="checkbox-{{ i }}"
                                selectLabel="{{ arbeitsformList[i] | dbTranslate: 'kurzText' }}"
                                [parentForm]="arbeitsformFormArray"
                                controlName="{{ i }}"
                                [isDisabled]="true"
                                [inputClass]="' '"
                            ></avam-label-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avam-panel">
                <div class="row">
                    <div class="col-lg-4 col-md-4 text-right">
                        <label>{{ 'arbeitgeber.label.gesuchtearbeitsorte' | translate }}</label>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div formArrayName="arbeitsort" *ngFor="let option of arbeitsortFormArray.controls; index as i">
                            <avam-label-input
                                [parentForm]="arbeitsortFormArray"
                                controlName="{{ i }}"
                                id="'arbeitsort-'+i'"
                                inputClass="col-lg-12 col-md-12"
                                [readOnly]="true"
                            ></avam-label-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avam-panel">
                <label>
                    <h3>{{ 'stes.label.angabenZurMobilitaet' | translate }}</h3>
                </label>
                <avam-label-dropdown
                    [parentForm]="stellensucheForm"
                    controlName="mobilitaetId"
                    [options]="mobiliteatSelectOptions"
                    id="mobilitaetId"
                    selectLabel="{{ 'stes.label.mobilitaet' }}"
                    [readOnly]="true"
                ></avam-label-dropdown>
                <avam-label-input
                    [parentForm]="stellensucheForm"
                    controlName="wohnortwechsel"
                    id="wohnortwechsel"
                    selectLabel="{{ 'stes.label.wohnortwechsel' }}"
                    [readOnly]="true"
                ></avam-label-input>
                <avam-multiselect
                    id="fuehrerausweisKategorie"
                    controlName="fuehrerausweisKategorie"
                    [parentForm]="stellensucheForm"
                    [options]="fuehrerausweisKategorieOptions"
                    label="stes.label.fuehrerausweisKategorie"
                    [isDisabled]="true"
                ></avam-multiselect>
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-right">
                        <avam-label-checkbox
                            componentId="fahrzeugVerfuegbar"
                            selectLabel="{{ 'stes.label.fahrzeugVerfuegbar' }}"
                            [parentForm]="stellensucheForm"
                            controlName="fahrzeugVerfuegbar"
                            [isDisabled]="true"
                        ></avam-label-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="avam-panel">
                <label>
                    <h3>{{ 'stes.label.befristeteAnstellung' | translate }}</h3>
                </label>
                <avam-label-calendar
                    controlName="stellenAntrittAbDatum"
                    id="stellenAntrittAbDatum"
                    calendarLabel="{{ 'stes.label.stellenantrittAb' }}"
                    [parentForm]="stellensucheForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                    [readOnly]="true"
                ></avam-label-calendar>
                <avam-label-calendar
                    controlName="anstellungBisDatum"
                    id="anstellungBisDatum"
                    calendarLabel="{{ 'stes.label.anstellungBis' }}"
                    [parentForm]="stellensucheForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                    [readOnly]="true"
                ></avam-label-calendar>
            </div>
            <div class="avam-panel">
                <label>
                    <h3>
                        {{ 'stes.label.letzterArbeitgeber' | translate }}
                    </h3>
                </label>
                <avam-label-checkbox
                    componentId="letzterAGBekannt"
                    selectLabel="{{ 'stes.label.letzterArbeitgeberBekant' }}"
                    [parentForm]="arbeitgeberForm"
                    controlName="letzterAGBekannt"
                    [isDisabled]="true"
                ></avam-label-checkbox>
                <avam-unternehmen-autosuggest
                    [parentForm]="arbeitgeberForm"
                    controlName="name1"
                    componentLabel="stes.label.sachverhaltunternehmensname"
                    [readOnly]="true"
                ></avam-unternehmen-autosuggest>
                <avam-label-input
                    [parentForm]="arbeitgeberForm"
                    controlName="name2"
                    id="name2"
                    selectLabel=" "
                    [readOnly]="true"></avam-label-input>
                <avam-label-input
                    [parentForm]="arbeitgeberForm"
                    controlName="name3"
                    id="name3"
                    selectLabel=" "
                    [readOnly]="true"
                ></avam-label-input>
                <avam-label-input
                    [parentForm]="arbeitgeberForm"
                    controlName="plz"
                    id="plz"
                    selectLabel="{{ 'stes.label.fachberatung.plzort' }}"
                    [readOnly]="true"
                ></avam-label-input>
                <avam-label-input
                    [parentForm]="arbeitgeberForm"
                    controlName="land"
                    id="land"
                    selectLabel="{{ 'stes.label.fachberatung.land' }}"
                    [readOnly]="true"
                ></avam-label-input>
                <avam-label-input [parentForm]="arbeitgeberForm" controlName="bur" id="bur" selectLabel="{{ 'stes.label.burnummer' }}" [readOnly]="true"></avam-label-input>
                <avam-label-input [parentForm]="arbeitgeberForm" controlName="branche" id="branche" selectLabel="{{ 'stes.label.branche' }}" [readOnly]="true"></avam-label-input>
                <avam-label-input
                    [parentForm]="arbeitgeberForm"
                    controlName="teatigkeitBranche"
                    id="teatigkeitBranche"
                    selectLabel="{{ 'stes.label.branchezuletzt' }}"
                    [readOnly]="true"
                ></avam-label-input>
            </div>
        </div>
    </div>
</form>
