<avam-generic-table *ngIf="dataSource" [dataSource]="dataSource" [headers]="displayedColumns" sortField="ausfuehrungsdatum" [sortOrder]="-1" [stateKey]="stateKey">
    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column?.columnDef">
        <th [ngStyle]="{ width: column?.width }" [sortable-column]="column.columnDef" cdk-header-cell *cdkHeaderCellDef>
            <avam-generic-table-header-cell [column]="column"></avam-generic-table-header-cell>
        </th>
        <ng-container *ngIf="column.columnDef === 'ausfuehrungsdatum'">
            <td cdk-cell *cdkCellDef="let row">
                <span [ngbTooltip]="column.cell(row) | date: 'dd.MM.yyyy'" triggers="manual" #t="ngbTooltip" [avamTableTooltip]="t">
                    {{ column.cell(row) | date: 'dd.MM.yyyy' }}
                </span>
            </td>
        </ng-container>
        <ng-container *ngIf="column.columnDef === 'action'">
            <td cdk-cell *cdkCellDef="let row">
                <button
                    *ngIf="!isButtonZuordnen"
                    ngbTooltip="{{ 'common.button.oeffnen' | translate }}"
                    (click)="itemSelected(row.abrechnungId, row.ammAnbieterId)"
                    avamPrimaryButtonDirective
                    class="fa fa-eye btn btn-primary btn-sm buttonOnHover"
                    type="button"
                ></button>
                <button
                    *ngIf="isButtonZuordnen"
                    ngbTooltip="{{ 'amm.abrechnungen.button.abrechnungzuordnen' | translate }}"
                    (click)="abrechnungZuordnen(row)"
                    avamPrimaryButtonDirective
                    class="fa fa-check btn-success btn btn-primary btn-sm buttonOnHover"
                    type="button"
                ></button>
            </td>
        </ng-container>
        <td cdk-cell *cdkCellDef="let row">
            <avam-generic-table-cell [column]="column" [row]="row"></avam-generic-table-cell>
        </td>
    </ng-container>
</avam-generic-table>
