.button-container {
    width: 8rem;
}

.calendar-container {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 30%;
    width: auto;
    padding: 0 15px 0 15px;
}

.dropdown-container {
    max-width: 60%;
    padding: 0 15px 0 15px;
}

.dropdown-label-container {
    margin: 0 -15px 0 -15px;
}
