.alert-card {
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}

.alert-card-body {
    background-color: #EAF3FA;
}

.alert-card-title {
    font-size: 1.25rem;
    font-weight: 600;
}
.alert-card-row {
    padding: .7rem;
}

.alert-card-label {
    font-weight: bolder;
}
