<div>
    <or-spinner [channel]="channel"></or-spinner>
    <div>
        <div class="info-bar-panel-container">
            <div class="info-panel-template avam-panel p-2">
                <div class="row">
                    <div class="item">
                        <b> {{ 'amm.massnahmen.label.anzahlAktiveBuchungen' | translate }} </b>
                        <span>{{ aktiveBuchungen }}</span>
                    </div>
                    <div class="item">
                        <b> {{ 'amm.massnahmen.label.anzahlFreiePlaetze' | translate }} </b>
                        <span>{{ freieBuchungen }}</span>
                    </div>
                    <div class="item">
                        <b> {{ 'amm.massnahmen.label.anzahlWarteliste' | translate }} </b>
                        <span>{{ buchungenAufWarteliste }}</span>
                    </div>
                    <div class="item">
                        <b> {{ 'amm.massnahmen.label.anzahlAnnullierte' | translate }} </b>
                        <span>{{ annulierteBuchungen }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <avam-bew-massnahme-teilnehmerliste-table
            #tableComponent
            [dataSource]="dataSource"
            [displayKurseCheckboxes]="displayKurseCheckboxes"
            [isWarteliste]="true"
            [parentForm]="teilnehmerlisteForm"
            (onItemSelected)="umbuchen($event)"
        ></avam-bew-massnahme-teilnehmerliste-table>
    </div>
</div>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>

<ng-template #footerButtons>
    <button class="btn btn-link ml-1" type="button" (click)="reset()">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button *ngIf="inPlanungAkquisitionSichtbar" class="btn btn-secondary ml-1" type="button" (click)="zurKursplanung()" [permissions]="[permissions.AMM_PLANUNG_LESEN]">
        <span class="fa fa-external-link"></span>
        {{ 'amm.massnahmen.button.zurkursplanung' | translate }}
    </button>
    <button
        *ngIf="showUmbuchen"
        class="btn btn-primary ml-1"
        type="button"
        (click)="umbuchen()"
        [disabled]="disableButton"
        [permissionContext]="[permissions.KEY_AMM_MASSNAHMEN_BEWIRTSCHAFTUNG_BEARBEITEN]"
    >
        {{ 'amm.massnahmen.label.aufteilnehmerlisteumbuchen' | translate }}
    </button>
</ng-template>

<ng-template #infobarTemplate>
    <div class="item">
        <span>{{ kuerzelMassnahmentyp }}</span>
    </div>
    <div class="item">
        <b> {{ 'amm.massnahmen.label.durchfuehrungsnr' | translate }} </b>
        <span>{{ dfeId }}</span>
    </div>
    <div class="item">
        <b> {{ 'amm.massnahmen.label.zulassungstyp' | translate }} </b>
        <span>{{ zulassungsTyp }}</span>
    </div>
    <div class="item">
        <b> {{ 'amm.massnahmen.label.anbieter' | translate }} </b>
        <span>{{ unternehmensname }}</span>
    </div>
    <div class="item">
        <b> {{ provBurNr ? ('arbeitgeber.oste.label.provburnr' | translate) : ('amm.massnahmen.label.burNr' | translate) }} </b>
        <span>{{ burNrToDisplay }}</span>
    </div>
    <div class="item">
        <b> {{ 'amm.massnahmen.label.status' | translate }} </b>
        <span>{{ unternehmenStatus }}</span>
    </div>
</ng-template>

<ng-template #modalPrint>
    <avam-bew-massnahme-teilnehmerliste-table
        #tableComponent
        [dataSource]="dataSource"
        [parentForm]="teilnehmerlisteForm"
        [isWarteliste]="true"
    ></avam-bew-massnahme-teilnehmerliste-table>
</ng-template>
