<or-column-layout [left]="true" [right]="false">
    <div column-left-content class="no-overflow h-100" (keyup.enter)="search()">
        <form class="h-100" [formGroup]="searchForm" autocomplete="off">
            <div class="avam-panel avam-panel-extra-lighter search-height">
                <h3>
                    <span class="fa fa-search mr-2"></span>
                    <span>{{ 'stes.label.vermittlung.stellenangebote' | translate }}</span>
                </h3>
                <label class="col-form-label">{{ 'stes.vermittlung.label.imzustaendigkeitsbereichvon' | translate }}</label>
                <avam-personalberater-autosuggest
                    #personalberater
                    [coreAutofocus]="true"
                    id="benutzer"
                    controlName="benutzer"
                    [parentForm]="searchForm"
                    placeholder="{{ 'stes.placeholder.personalberater' | translate }}"
                    [type]="personalberaterAutosuggestType"
                    container="body"
                    [scrollIntoView]="false"
                ></avam-personalberater-autosuggest>
                <label class="col-form-label">{{ 'stes.vermittlung.label.zeitraum' | translate }}</label>
                <avam-label-dropdown
                    inputClass="col-lg-12 col-md-12"
                    [parentForm]="searchForm"
                    controlName="zeitraum"
                    id="zeitraum"
                    [options]="zeitraumOptions"
                ></avam-label-dropdown>
            </div>
            <div column-left-content class="sticky-footer sticky-actions buttons-pannel-margin">
                <button class="btn btn-link" type="button" (click)="reset()">
                    {{ 'common.button.zuruecksetzen' | translate }}
                </button>
                <button class="btn btn-primary ml-1" type="button" (click)="search()" [permissions]="[permissions.STES_VM_MATCHING]">
                    <span class="fa fa-search"></span>
                    {{ 'common.button.suchen' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div column-main-content class="default-layout">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <h2 class="pl-4">{{ 'stes.vermittlung.label.stellenangebotmatchingtreffer' | translate }}</h2>
                <app-result-count *ngIf="searchDone" [dataLength]="responseData.length" [isInfoleiste]="true"></app-result-count>
            </div>
            <div class="col-4 pull-right">
                <app-toolbox></app-toolbox>
            </div>
        </div>

        <ng-template #modalPrint>
            <avam-generic-table-print [dataSource]="tableConfig.data">
                <avam-common-wrapper-table [dataSource]="tableConfig.data" [columns]="tableConfig.columns" [config]="printConfig"></avam-common-wrapper-table>
            </avam-generic-table-print>
        </ng-template>

        <div class="overflow-hidden mh-100 pt-3">
            <avam-alert></avam-alert>
            <or-spinner [channel]="channel"></or-spinner>
            <avam-common-wrapper-table
                [dataSource]="tableConfig.data"
                [columns]="tableConfig.columns"
                [config]="tableConfig.config"
                [stateKey]="tableStateKey"
                (onRowSelect)="selectItem($event)"
                stateKey="matching-treffer-table"
            ></avam-common-wrapper-table>
        </div>
    </div>
</or-column-layout>
