.fa-circle {
    font-size: 5px;
    vertical-align: middle;
}

@media (min-resolution: 120dpi) {
    .page-style {
        height: 72vh !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-resolution: 96dpi) {
    .page-style {
        height: 78vh !important;
        overflow-x: hidden;
        overflow-y: auto;
    }   
}