.separation-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0px;
}

.availability-warning {
    margin-top: -8px;
    margin-bottom: 8px;
    padding-left: 11px;
}