.readOnlyStyleDiv {
    overflow-y: scroll !important;
    max-height: 110px !important;
    border: 1px solid #b4b4b4;
    background-color: #e9ecef;
}

.readOnlyStyle {
    resize: none !important;
    overflow-y: hidden !important;
    height: 100%;
    border: none;
    background: none;
    max-height: 100% !important;
}
