<or-column-layout [right]="false" avamNavCollapsedCheck>
    <div column-left-content class="sticky-main avam-panel avam-panel-extra-lighter">
        <avam-bew-dfe-suchen-form [data]="data" (onEnter)="search()" #formComponent></avam-bew-dfe-suchen-form>
    </div>
    <div column-left-content class="sticky-footer sticky-actions">
        <div>
            <button avamDisableOnSpinner type="reset" class="btn btn-link" (click)="reset()">
                {{ 'common.button.zuruecksetzen' | translate }}
            </button>
        </div>
        <div>
            <button avamDisableOnSpinner type="submit" class="btn btn-primary" (click)="search()" [disabled]="searchNotAvailable">
                <span class="fa fa-search mr-2"></span> <span>{{ 'common.button.suchen' | translate }}</span>
            </button>
        </div>
    </div>
    <div column-main-content class="h-100 default-layout">
        <or-spinner [channel]="CHANNEL_TABLE"></or-spinner>
        <avam-amm-infopanel></avam-amm-infopanel>
        <avam-alert></avam-alert>
        <avam-bew-dfe-suchen-table #tableComponent [dataSource]="dataSource" (onItemSelected)="onRowSelected($event)"></avam-bew-dfe-suchen-table>
    </div>
</or-column-layout>

<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="dataSource">
        <avam-bew-dfe-suchen-table *ngIf="dataSource" [dataSource]="dataSource" [hideTableButton]="true"></avam-bew-dfe-suchen-table>
    </avam-generic-table-print>
</ng-template>
