@media print {
    .avam-generic-table {
        max-height: 100% !important;

        button {
            visibility: hidden !important;
        }
    }

    .avam-generic-table-wrapper .scrollable-header-box {
        margin-right: 0 !important;
    }

    body {
        overflow: visible;
    }

    app-toolbox,
    or-master-layout-header,
    app-footer-infos,
    avam-action-footer,
    .modal-header,
    .modal-footer * {
        visibility: hidden;
    }

    #dms-templates * {
        visibility: hidden;
    }

    body.modal-open .modal {
        height: 100% !important;
        overflow: visible !important;
        position: absolute !important;
        margin: 50px !important;
    }

    .scrollable-modal-body {
        overflow-y: visible !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
        float: none !important;
        position: static !important;
    }

    .column-layout {
        display: block !important;
    }

    .application.application-fixed {
        display: block !important;
        height: auto !important;
    }

    .print-block.row {
        display: block !important;
    }

    .print-block.row.overlay {
        display: block !important;
    }

    body.modal-open .modal {
        margin: 0 auto !important;
        height: auto !important;
    }

    body .avam-modal-xl .modal-dialog {
        max-width: 100% !important;
    }

    body .modal-body {
        padding: 0 !important;
    }

    .modal-header,
    .modal-footer {
        display: none;
    }

    .modal-content {
        display: block;
        top: 0;
        position: absolute;
    }

    .modal-dialog-centered {
        display: block;
    }

    body.modal-open {
        visibility: hidden;

        .application-content-viewport {
            display: none;
        }
    }

    body.modal-open .modal .modal-header,
    body.modal-open .modal .modal-body {
        visibility: visible;
    }

    .overflow-auto-custom {
        overflow: visible !important;
    }

    .erwerbssituation-aktuell-table-height {
        height: auto !important;
    }

    .dont-print {
        height: 1px;
        display: none !important;
    }

    div.avam-panel {
        page-break-inside: avoid;
    }

    .print-footer.d-none {
        display: block !important;
        padding: .7rem 0 !important;
        border-top: 1px solid #555555 !important;
        border-bottom: 1px solid #555555 !important;
        font-size: .875rem !important;
        margin-bottom: 1rem !important;
    }

    .hide-application-footer-on-print {
        display: none;
    }
}

@media print and (min-width: 500px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media print {
    .inline-components-table {
        .col-md-4 {
            max-width: 100%;
            flex: 1;
        }
    }
}
