@import '~oblique-reactive/styles/scss/variables';
@import './print.scss';

@mixin max-with() {
    width: 100%;
}

.notification-container {
    margin-top: 80px !important;
}

.avam-panel {
    background: #f5f5f5;
    border-color: #d3d3d3;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    padding: 16px;
    margin-bottom: 8px;

    label {
        font-size: 14px;
        text-align: right;
        h3 {
            font-size: 16px;
        }
    }
}

.column-left .avam-panel {
    border-bottom: 0;
    margin-bottom: 0;
}

.avam-panel-extra-lighter {
    background: #f2f7f9;
}

.avam-panel-light {
    background: #dde7ff;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: #f2f7f9;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover {
    background-color: transparent;
}

.table-hover tbody tr:focus td {
    background-color: #dde7ff;
}

.checkbox-item__label-text {
    label {
        color: #171717;
        font-size: 14px;
        text-align: left;
    }
}

.form-item__element--select-disabled {
    &:invalid {
        color: gray;
    }

    [disabled] {
        color: gray;
    }

    option {
        color: black;
    }
}

.icon-input-inside {
    position: relative;
}

.icon-input {
    background-color: transparent;
    border: none;
    color: #b4b4b4;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.icon-readonly {
    background-color: transparent;
    border: none;
    color: #b4b4b4;
}

.popover {
    max-width: 100%;
    min-width: 30%;
}

.nm-t-6 {
    margin-top: -1rem;
}

.mouse-pointer {
    cursor: pointer;
}

.fa-info {
    color: blue;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown {
    .dropdown-menu.show {
        overflow-y: auto;
        max-height: 338px;
    }
}

.table-btn-width {
    min-width: 50px;
}

.table-two-btn-width {
    width: 10%;
}

.table-larger-btn-width {
    width: 12%;
}

.scrollable-modal-body {
    height: 75vh;
    overflow-y: auto;
}

.scrollable-modal-horizontal {
    overflow-x: auto;
}

.ui-column-resizer {
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    display: block;
    min-height: 40px;
    float: right;
}

.avam-modal-xl .modal-dialog {
    max-width: 90%;
}

.avam-modal-l .modal-dialog {
    max-width: 45%;
}

.avam-modal-md .modal-dialog {
    max-width: 35%;
}

.modal-md .modal-dialog {
    max-width: 65%;
}

.avam-modal-full-height .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
}

.avam-modal-full-height .modal-content {
    height: 99vh;
}

.disabled-href {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
    color: inherit;
}

.align-info-btn:hover {
    color: #343a40;
}

.col-lg-8.col-md-8.text-control:hover,
.text-control.w-100.ml-3.mr-3:hover,
.as-holder:hover {
    .align-info-btn {
        margin-right: 20px;
    }
}

.table-caption-color-text {
    padding-left: 10px;
    caption-side: top;
    background-color: #dde7ff;
    font-weight: bold;
    color: #000000;
}

.full-centered {
    @include max-with();
    text-align: center;
}

.full-width {
    @include max-with();
}

.fa-blank {
    visibility: hidden !important;
    padding-right: 8px;
}

.icon-green {
    color: green;
}

.icon-gold {
    color: gold;
}

.icon-red {
    color: red;
}

.mw-200 {
    min-width: 200px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-8 {
    padding-right: 8px;
}

.ta-left {
    text-align: left !important;
}

@media (min-width: 800px) {
    .hugeModal > .modal-dialog {
        width: 90%;
        max-width: 1200px; /* or 90% or whatever */
    }
}

.has-overlay .overlay {
    or-spinner {
        z-index: 11;
    }
    z-index: 11;
}

.overflow-auto-custom {
    overflow: auto;
}

.align-self-center > label,
.align-self-center > .form-group {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0.5rem;
}

.max-height-800 {
    max-height: 800px !important;
}

.max-height-600 {
    max-height: 600px !important;
}

.max-height-none {
    max-height: none !important;
}
.min-height-600 {
    min-height: 600px;
}

.min-height-20 {
    min-height: 20rem;
}

.no-padding {
    padding: 0 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden > .column-layout {
    overflow: hidden;
}

.font-weight-600 {
    font-weight: 600;
}

// Limit length of autosuggest dropdown
#scrollable-dropdown-menu-country .dropdown-menu {
    max-height: 150px;
    width: 100%;
    overflow: auto;
}

.no-left-padding {
    padding-left: 0;
}

.row-height {
    height: 50px;
    vertical-align: middle !important;
}

core-table {
    position: relative;
    display: block;
}

avam-table {
    display: block;
}

.datepicker-today {
    color: dodgerblue;
}

.dropdown-menu.show {
    overflow: auto;
    max-height: 300px;
    max-width: 1000px;
    z-index: 7777777;
}

.tooltip.show {
    position: fixed !important;
    z-index: 777777777;
}

.tooltip-inner {
    max-width: 800px !important; // Overwrite the value (200px) from oblique
}

.dropdown-item {
    overflow: hidden !important;
}

avam-action-footer {
    display: block;
    position: absolute;
}

.white-icon-blue-background:hover {
    background-color: #005e8e; // #005e8e refers to oblique-ui.css :root
    border-color: #005e8e;
    color: white;
}

.top-minus-1 {
    top: -1px;
}

.navbar-controls .control-link {
    padding-bottom: 6px;
}

#appComponentHome {
    font-size: 21px;
}

.p-value-left-12 {
    padding-left: 12px;
}

.p-value-left-27 {
    padding-left: 27px;
}

button[disabled] {
    pointer-events: none;
}

.permission-hidden {
    display: none;
}

.wizard-back-link {
    padding-left: 8px;
    padding-bottom: 13px;
    color: #3c629e;
}

.no-word-wrap {
    white-space: nowrap;
}

.text-overflow-with-dots {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-1 {
    width: 1% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100px {
    width: 100px;
}

.w-250px {
    width: 250px;
}

.max-width-50 {
    max-width: 50% !important;
}

.max-width-90px {
    max-width: 90px !important;
}

.max-width-100 {
    max-width: 100%;
}

.min-width-45px {
    min-width: 45px !important;
}

.min-width-80px {
    min-width: 80px !important;
}

.min-width-90px {
    min-width: 90px !important;
}

.min-width-100px {
    min-width: 100px !important;
}

.min-width-0 {
    min-width: 0 !important;
}

.min-width-135px {
    min-width: 135px !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.schnellsuche-min-width {
    min-width: 40px;
}

input[readonly] {
    pointer-events: none;
}

.has-warning.has-error .form-control {
    border-color: #e75e00;
}
.has-warning.has-error .form-control-feedback {
    color: #e75e00;
}
.has-warning.has-error .form-control:focus {
    border-color: #983d00;
    box-shadow: 0 0 6px 1px rgba(231, 94, 0, 0.4);
}

.warning-message {
    color: #e75e00;
}

.has-warning {
    .warning-message {
        color: #e75e00;
    }
}
.header-solid-1 {
    border-bottom: 1px solid #d3d3d3;
    justify-content: space-between;
    display: flex;
    margin: -16px -16px 16px -16px;
    padding: 0 16px 0 16px;
}

.title-pt-16 {
    padding-top: 16px;
}

.pad-btn-8-0 {
    padding: 8px 0;
}

.accept-new-line {
    white-space: pre-line;
}

.table-row-bg-gold {
    background-color: rgb(252, 232, 157);
}

.table-row-bg-goldenrod {
    background-color: rgb(255, 215, 94);
}

.table-row-bg-grey {
    background-color: rgb(244, 244, 244);
}

.inverted-table-header {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}

.hr-thick {
    border: none;
    height: 1px;
    background-color: black;
    margin-top: -5px;
    width: 100%;
}

.hr-thin {
    margin-top: -2px;
}

.form-check-label-padding-left {
    padding-left: 15px !important;
}

.form-check-input:disabled ~ .form-check-label {
    color: #171717;
}

.form-check .form-check-input:disabled + .form-check-label,
fieldset:disabled .form-check .form-check-input + .form-check-label {
    cursor: default;
    opacity: 1;
}

.padding-left-15 {
    padding-left: 15px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.display-flex {
    display: flex;
}

.flex-basis-auto {
    flex-basis: auto;
}

.flex-basis-150px {
    flex-basis: 150px;
}

.flex-basis-zero {
    flex-basis: 0;
}

.fit-width {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: stretch;
}

.no-bullet {
    list-style-type: none !important;
}

.multiselect-toggle:disabled {
    background-color: #e9ecef !important;
}

.sticky-footer.sticky-actions {
    box-shadow: none !important;
    border-top: 1px solid #d5d5d5 !important;
}

.column-layout {
    overflow: hidden;
}

avam-label-input,
avam-currency-input {
    .rtl {
        input {
            text-align: right;
        }
    }
}

avam-prepend-numeric-input {
    .rtl {
        input {
            text-align: right;
        }
    }
}

.border-bottom-solid-thin {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.info-bar-container {
    display: flex;

    h1,
    h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.min-height-80-vh {
    min-height: 80vh;
}

@media print {
    .info-bar-container {
        h1,
        h2 {
            overflow: visible !important;
            white-space: normal;
        }
    }
}

// Format the date-picker
.datepicker-today {
    font-weight: bold;
    color: #005e8e;
    border: 1px solid #005e8e;
}

.week {
    border-right: 1px solid grey;
}

.column-toggle-left {
    z-index: 999 !important;
}

.displace-left-140px.tooltip.show {
    position: absolute !important;
    left: 140px !important;
}

a.link,
a.link:not([href]),
a.link:active,
a.link:visited,
a.link:focus,
a.link:hover,
a.link:link {
    color: #0c76ad !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}

.h-100-no-headers {
    max-height: calc(100% - 120px) !important;
}
