.triangle-blue {
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE 9 */
    -o-transform: rotate(-90deg); /* Opera */
    transform: rotate(-90deg);
    color: blue;
}

.square-green {
    color: green;
}

.square-small-yellow {
    color: yellow;
    font-size: 15px;
}
