<div class="modal-content d-block">
    <div class="modal-header">
        <div class="column-left">
            <h4 class="modal-title" id="modal-change-password">{{ 'login.label.passwortaendern' | translate }}</h4>
        </div>
        <div class="mr-3">
            <app-toolbox [configuration]="modalToolboxConfiguration" [id]="changePasswordToolboxId" [formNumber]="getFormNr()"></app-toolbox>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form class="avam-panel" [formGroup]="changePasswordForm" (keyup.enter)="changePassword()">
                <avam-label-input
                    controlName="currentPassword"
                    id="currentPassword"
                    selectLabel="login.label.oldpassword"
                    type="password"
                    avamAutofocus
                    [parentForm]="changePasswordForm"
                ></avam-label-input>
                <br />
                <avam-label-input
                    controlName="newPassword"
                    id="newPassword"
                    selectLabel="login.label.newpassword"
                    type="password"
                    [parentForm]="changePasswordForm"
                ></avam-label-input>
                <avam-label-input
                    controlName="confirmNewPassword"
                    id="confirmNewPassword"
                    selectLabel="login.label.confirmpassword"
                    type="password"
                    [parentForm]="changePasswordForm"
                ></avam-label-input>
                <div class="form-group row" *ngIf="matchNewPassword() || error">
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-8 col-md-8 error text-danger">{{ error | translate }}</div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <span ngbAutofocus>{{ getFormNr() }}</span>
        <div class="sticky-actions">
            <button type="button" class="btn btn-link" (click)="close()">
                {{ 'common.button.abbrechen' | translate }}
            </button>
            <button type="button" class="btn btn-primary ml-1" (click)="changePassword()" [disabled]="changePasswordForm.invalid || error">
                {{ 'login.label.passwortaendern' | translate }}
            </button>
        </div>
    </div>
</div>
