<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{ 'amm.zahlungen.button.teilzahlungswertzuordnen' | translate }}
            <app-result-count [dataLength]="tableDataSource?.length"></app-result-count>
        </h4>
        <div class="mr-3">
            <app-toolbox [configuration]="toolboxConfiguration" [formNumber]="formNumber"></app-toolbox>
        </div>
    </div>
    <div class="modal-body">
        <or-spinner [channel]="channel"> </or-spinner>
        <avam-alert [channel]="alertChannel.MODAL"></avam-alert>
        <avam-anbieter-teilzahlungswerte-table
            *ngIf="tableDataSource"
            [dataSource]="tableDataSource"
            [tableType]="teilzahlungswerteTableType.ZUORDNEN"
            [parentForm]="formGroup"
            (onItemSelected)="teilzahlungswertZuordnen($event)"
        ></avam-anbieter-teilzahlungswerte-table>
    </div>
    <div class="modal-footer justify-content-between">
        <span>{{ formNumber }}</span>
        <div class="sticky-actions">
            <button class="btn btn-link" type="button" (click)="close()">{{ 'i18n.common.cancel' | translate }}</button>
            <button class="btn btn-primary ml-1" type="button" [disabled]="disableButton" (click)="teilzahlungswertZuordnen()">
                {{ 'amm.zahlungen.button.teilzahlungswertzuordnen' | translate }}
            </button>
        </div>
    </div>
</div>
