<div class="sticky">
    <div class="sticky-main">
        <or-column-layout orColumnLayoutExtension [right]="false" avamNavCollapsedCheck>
            <div column-left-content class="navigation-container sticky">
                <div class="navigation-resizable" sideNavigationResize></div>
                <app-navigation [navPath]="navPath" [sideMenu]="sideMenu"></app-navigation>
            </div>
            <div column-main-content class="h-100 default-layout">
                <avam-amm-infopanel></avam-amm-infopanel>
                <avam-alert></avam-alert>
                <router-outlet></router-outlet>
            </div>
        </or-column-layout>
    </div>
</div>
<ng-template #spacer>
    <div>
        &nbsp;<!-- This div exists only to ensure the height of the Infoleiste. Without this div, the Infoleiste collapses, and the i icon at the end will be in the wrong place. -->
    </div>
</ng-template>
