<div [formGroup]="parentForm">
    <div [formArrayName]="controlArrayName" *ngFor="let item of parentForm.controls[controlArrayName]['controls']; let i = index">
        <div [formGroupName]="i">
            <div class="d-flex flex-nowrap">
                <div class="flex-grow-1 flex-shrink-1">
                    <avam-kontaktperson-input-wrapper
                        [parentForm]="item"
                        [controlName]="controlName"
                        [unternehmenId]="unternehmenId"
                        [readonly]="isReadOnly"
                        [disabled]="isDisabled"
                        [placeholder]="placeholder"
                        [showEmail]="showEmail"
                        (onClear)="onKontaktpersonCleared()"
                        (kontaktpersonSelected)="onKontaktpersonSelected($event)"
                    ></avam-kontaktperson-input-wrapper>
                </div>
                <div class="input-group-append d-block mb-2">
                    <button type="button" *ngIf="kontaktpersonen.length !== 1 && !isReadOnly" (click)="removeItem(i)" class="btn btn-secondary ml-1" [disabled]="isDisabled">
                        <span class="fa fa-trash"></span>
                    </button>
                    <button *ngIf="i == kontaktpersonen.length - 1 && !isReadOnly" (click)="addItem()" type="button" class="btn btn-secondary ml-1" [disabled]="isDisabled">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
