.justify-content-space-evenly {
    margin: 0;
    justify-content: space-evenly;

    .item {
        margin: 0 auto 0 0;
    }
}

.stellenbezeichnung {
    margin-bottom: 0;
    font-weight: 500;
}

.taetigkeit {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.exclamation-btn-padding {
    padding: 0 13px;
}

.table-btns {
    display: flex;
    justify-content: space-around;
}