.hide-icons #datumKontrollPeriodeVermittlung .core-calendar .input-group-append {
    display: none !important;
}

.hide-icons #vermittlungvomVermittlung .core-calendar .input-group-append,
.hide-buttons avam-data-table-modal button {
    display: none !important;
}
