<div class="sticky">
    <div class="sticky-main">
        <or-column-layout orColumnLayoutExtension [right]="false" avamNavCollapsedCheck>
            <div column-left-content class="navigation-container sticky">
                <div class="navigation-resizable" sideNavigationResize>
                    <ul class="nav nav-tree expanded nav-bordered nav-hover" role="tree">
                        <li class="side-nav-tree nav-item fit-width">
                            <div class="nav-link display-flex active">
                                <a class="avam-nav-link active" aria-selected="false">
                                    <span class="no-word-wrap padding-left-15 d-inline-block" triggers="manual">{{
                                        (isBearbeiten ? 'stes.label.vermittlung.beruf' : 'stes.subnavmenuitem.stesBerufErfassen') | translate
                                    }}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div column-main-content class="h-100 default-layout">
                <avam-amm-infopanel></avam-amm-infopanel>
                <avam-alert></avam-alert>
                <or-spinner [channel]="channel"></or-spinner>
                <form [formGroup]="form" #ngForm="ngForm">
                    <div class="row">
                        <div class="rechts col-xl-6">
                            <div class="avam-panel w-100">
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="bfsStammcode"
                                    selectLabel="{{ 'verzeichnisse.label.bfsstammcode' | translate }}"
                                ></avam-label-input>
                                <avam-label-dropdown
                                    [parentForm]="form"
                                    controlName="anerkennungsform"
                                    [options]="anerkennungsformArray"
                                    [selectLabel]="'verzeichnisse.label.annerkennungsform'"
                                    placeholder="common.label.waehlen"
                                ></avam-label-dropdown>
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="berufNr"
                                    selectLabel="{{ 'verzeichnisse.label.berufnr' | translate }}"
                                    readOnly="true"
                                ></avam-label-input>
                                <avam-date-range-picker
                                    id="gueltigVonBis"
                                    label="amm.akquisition.label.gueltig"
                                    [parentForm]="form"
                                    formControlNameFrom="gueltigVon"
                                    formControlNameTo="gueltigBis"
                                    inputClass="col-md-12 pl-0 pr-0 mb-2"
                                ></avam-date-range-picker>
                            </div>
                            <div class="avam-panel w-100" *ngIf="isBearbeiten">
                                <avam-label-checkbox
                                    componentId="stellenmeldepflicht"
                                    controlName="stellenmeldepflicht"
                                    [parentForm]="form"
                                    [selectLabel]="'verzeichnisse.label.meldepflicht'"
                                    [readOnly]="true"
                                ></avam-label-checkbox>
                            </div>
                        </div>
                        <div class="links col-xl-6 d-flex">
                            <div class="avam-panel w-100">
                                <h3>{{ 'stes.label.zuweisungfachberatung.bezeichnung' | translate }}</h3>
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="maennlichDe"
                                    selectLabel="{{ 'verzeichnisse.label.maennlich_de' | translate }}"
                                ></avam-label-input>
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="weiblicheDe"
                                    selectLabel="{{ 'verzeichnisse.label.weibliche_de' | translate }}"
                                ></avam-label-input>
                                <hr />
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="maennlichFr"
                                    selectLabel="{{ 'verzeichnisse.label.maennlich_fr' | translate }}"
                                ></avam-label-input>
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="weiblicheFr"
                                    selectLabel="{{ 'verzeichnisse.label.weibliche_fr' | translate }}"
                                ></avam-label-input>
                                <hr />
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="maennlichIt"
                                    selectLabel="{{ 'verzeichnisse.label.maennlich_it' | translate }}"
                                ></avam-label-input>
                                <avam-label-input
                                    [parentForm]="form"
                                    controlName="weiblicheIt"
                                    selectLabel="{{ 'verzeichnisse.label.weibliche_it' | translate }}"
                                ></avam-label-input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </or-column-layout>
    </div>
</div>

<ng-template #footerButtons>
    <button class="btn btn-link ml-1" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button class="btn btn-link ml-1" type="button" (click)="reset()">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="button" (click)="save()" [permissions]="[permissions.INFORMATIONEN_VERZEICHNISSE_BERUF_ERFASSEN]">
        {{ 'common.button.speichern' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>

<ng-template #infobartemplate>&nbsp;</ng-template>
