<or-column-layout [right]="false" avamNavCollapsedCheck>
    <div column-left-content class="sticky-main avam-panel avam-panel-extra-lighter">
        <or-spinner [channel]="CHANNEL_STATE_KEY"></or-spinner>
        <avam-rahmenvertrag-suchen-form (onEnter)="search()" [rahmenvertragData]="rahmenvertragData" #suchenFormComponent></avam-rahmenvertrag-suchen-form>
    </div>
    <div column-left-content class="sticky-footer sticky-actions">
        <div>
            <button type="reset" class="btn btn-link" (click)="reset()" [permissions]="[permissions.AMM_AKQUISITION_LESEN]">
                {{ 'common.button.zuruecksetzen' | translate }}
            </button>
        </div>
        <div>
            <button avamDisableOnSpinner type="submit" class="btn btn-primary" (click)="search()" [permissions]="[permissions.AMM_AKQUISITION_LESEN]">
                <span class="fa fa-search mr-2"></span> <span>{{ 'common.button.suchen' | translate }}</span>
            </button>
        </div>
    </div>
    <div column-main-content class="h-100 default-layout">
        <or-spinner [channel]="CHANNEL_STATE_KEY"></or-spinner>
        <avam-amm-infopanel></avam-amm-infopanel>
        <avam-alert></avam-alert>
        <avam-rahmenvertrag-suchen-table [dataSource]="dataSource" (onItemSelected)="onItemSelected($event)"></avam-rahmenvertrag-suchen-table>
    </div>
</or-column-layout>

<ng-template #modalPrint>
    <avam-rahmenvertrag-suchen-table *ngIf="dataSource" [dataSource]="dataSource" [forPrinting]="true"></avam-rahmenvertrag-suchen-table>
</ng-template>
