<avam-generic-table *ngIf="dataSource" [dataSource]="dataSource" [headers]="displayedColumns" sortField="gueltigAb" [sortOrder]="-1">
    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column?.columnDef">
        <th [ngStyle]="{ width: column?.width }" [sortable-column]="column.columnDef" cdk-header-cell *cdkHeaderCellDef>
            <avam-generic-table-header-cell [column]="column"></avam-generic-table-header-cell>
        </th>
        <ng-container *ngIf="column.columnDef === 'action'">
            <td cdk-cell *cdkCellDef="let row">
                <div class="btn-group">
                    <button
                        ngbTooltip="{{ 'common.button.oeffnen' | translate }}"
                        (primaryButtonClick)="itemSelected(row.rahmenfristId)"
                        avamPrimaryButtonDirective
                        class="fa fa-eye btn btn-primary btn-sm buttonOnHover"
                        type="button"
                    ></button>
                    <div *ngIf="aktionenOptions" #aktionen="ngbDropdown" class="dropdown" ngbDropdown container="body" placement="bottom-right">
                        <button class="btn btn-secondary btn-sm buttonOnHover ml-1" ngbDropdownToggle (click)="aktionen.open()">
                            {{ 'i18n.common.actions' | translate }}
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="dropdown-item" *ngFor="let aktion of aktionenOptions" (click)="onActionSelected(aktion.aktionId, row.rahmenfristId)">
                                {{ aktion.label | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container *ngIf="column.columnDef === 'gueltigAb'">
            <td cdk-cell *cdkCellDef="let row">
                <span [ngbTooltip]="column.cell(row) | date: 'MM.yyyy'" triggers="manual" #t="ngbTooltip" [avamTableTooltip]="t">
                    {{ column.cell(row) | date: 'MM.yyyy' }}
                </span>
            </td>
        </ng-container>
        <td cdk-cell *cdkCellDef="let row">
            <avam-generic-table-cell [column]="column" [row]="row"></avam-generic-table-cell>
        </td>
    </ng-container>
</avam-generic-table>
