<div>
    <or-spinner [channel]="channel"></or-spinner>
    <avam-meldungen-table
        #meldungenTable
        [sourceData]="resultsData"
        [showName]="false"
        (onPrimaryAction)="openCallback($event)"
        (onCheck)="onCheck($event)"
        (onDeleteSingleRow)="onDeleteSingleRow($event)"
        [stateKey]="stateKey"
    ></avam-meldungen-table>
</div>
<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="resultsData">
        <avam-meldungen-table #meldungenTable [sourceData]="resultsData" [showName]="false" [forPrinting]="true" [stateKey]="stateKey"></avam-meldungen-table>
    </avam-generic-table-print>
</ng-template>
<ng-template #buttons>
    <button class="btn btn-secondary ml-1 keepDisabled" type="button" (click)="delete()" [disabled]="footerDisabled">
        {{ 'geko.button.loeschen' | translate }}
    </button>
    <button class="btn btn-secondary ml-1 keepDisabled" type="button" (click)="markNotRead()" [disabled]="footerDisabled">
        {{ 'common.button.ungelesen' | translate }}
    </button>
    <button class="btn btn-secondary ml-1 keepDisabled" type="button" (click)="markRead()" [disabled]="footerDisabled">
        {{ 'common.button.gelesen' | translate }}
    </button>
</ng-template>
<avam-action-footer [buttonsTemplate]="buttons"></avam-action-footer>
