<app-autosuggest-two-fields
    id="id"
    [value]="value"
    (selectItem)="selectItem($event)"
    [searchFunctionAutosuggestOne]="searchFunctionAutosuggestOne"
    [searchFunctionAutosuggestTwo]="searchFunctionAutosuggestTwo"
    [resultFormatterAutosuggestOne]="resultFormatterAutosuggestOne"
    [resultFormatterAutosuggestTwo]="resultFormatterAutosuggestTwo"
    [inputFormatterAutosuggestOne]="inputFormatterAutosuggestOne"
    [inputFormatterAutosuggestTwo]="inputFormatterAutosuggestTwo"
    label="stes.label.alkZahlstelle"
    showButton="true"
    buttonTooltip="common.label.alkzahlstelle"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [showInfoIcon]="true"
>
</app-autosuggest-two-fields>
