.searchInField {
    line-height: 1.0;
    margin-left: 15px;
}
.advanced-search-button {
    margin-top: 15px;
    margin-bottom: 15px;
}
.checkbox-margin {
    margin-top: -10px;
    margin-bottom: 10px;
}
.padding-0 {
    padding: 0;
}
.padding-6 {
    padding: 6px;
}
.mh-82 {
    max-height: 82%;
    overflow-y: auto;
}
