<div>
    <or-spinner channel="{{ resultSpinnerChannel }}"></or-spinner>
    <avam-geschaeftsregeln-table [sourceData]="data" (onPrimaryAction)="openGeschaeftsregel($event)"></avam-geschaeftsregeln-table>
</div>
<ng-template #modalPrint>
    <avam-geschaeftsregeln-table [sourceData]="data" [forPrinting]="true"></avam-geschaeftsregeln-table>
</ng-template>
<ng-template #buttons>
    <button class="btn btn-primary ml-1" type="button" (click)="geschaeftsregelErfassen()">
        <span class="fa fa-plus mr-2"></span>
        {{ 'geko.subnavmenuitem.geschaeftsregelErfassen' | translate }}
    </button>
</ng-template>
<avam-action-footer [buttonsTemplate]="buttons"></avam-action-footer>
