<div class="row">
    <div class="links col-xl-6">
        <div class="avam-panel avam-panel-extra-lighter">
            <h3>{{ 'unternehmen.button.mitteilunganbfs' | translate }}</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'unternehmen.label.mitteilung' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 text-left col-form-label word-break">
                    {{ mitteilungBfsResponse?.mitteilung }}
                </div>
            </div>
        </div>

        <div class="avam-panel avam-panel-extra-lighter">
            <div class="row mb-2">
                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'common.label.datum' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    {{ mitteilungBfsResponse?.mitteilungsDatum | date: 'dd.MM.yyyy' }}
                </div>
                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'common.label.bearbeitungdurch' | translate }}</label>
                </div>
                <div [formGroup]="autosuggestForm" class="col-lg-6 col-md-6 col-form-label">
                    <avam-personalberater-autosuggest controlName="ansprechperson" [parentForm]="autosuggestForm" [isDisabled]="true"></avam-personalberater-autosuggest>
                </div>
            </div>
        </div>
    </div>

    <div class="rechts col-xl-6">
        <div class="avam-panel avam-panel-extra-lighter">
            <h3>{{ 'unternehmen.label.antwortbfs' | translate }}</h3>

            <div class="row mb-2">
                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'unternehmen.label.antwortbfs' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 text-left col-form-label word-break">
                    {{ mitteilungBfsResponse?.antwort }}
                </div>

                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'common.label.datum' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    {{ mitteilungBfsResponse?.antwortDatum | date: 'dd.MM.yyyy' }}
                </div>

                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'common.label.status' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    {{ mitteilungBfsResponse?.mitteilungStatusObject | dbTranslate: 'text' }}
                </div>

                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'unternehmen.label.mutationsid' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    {{ mitteilungBfsResponse?.mitteilungPkBfs > 0 ? mitteilungBfsResponse.mitteilungPkBfs : '' }}
                </div>

                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2">{{ 'unternehmen.label.responsecode' | translate }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    {{ mitteilungBfsResponse?.responseCode }}
                </div>

                <div class="col-lg-4 col-md-4 text-right col-form-label">
                    <label class="mb-2" [ngbTooltip]="mitteilungBfsResponse && mitteilungBfsResponse.ansprechpersonBfsEmail ? ('common.label.emailTooltip' | translate) : ''">{{
                        'unternehmen.label.email' | translate
                    }}</label>
                </div>
                <div class="col-lg-8 col-md-8 col-form-label">
                    <a *ngIf="mitteilungBfsResponse && mitteilungBfsResponse.ansprechpersonBfsEmail" href="{{ 'mailto:' + mitteilungBfsResponse.ansprechpersonBfsEmail }}">
                        {{ mitteilungBfsResponse.ansprechpersonBfsEmail }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
<ng-template #footerButtons>
    <button class="btn btn-link" type="button" (click)="goToMitteilungTable()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button *ngIf="mitteilungBfsResponse" class="btn btn-primary ml-1" type="button" (click)="openBeantwortenDialog()">
        {{ 'unternehmen.button.mitteilungbeantworten' | translate }}
    </button>
</ng-template>
