<form (keydown.enter)="onEnter.emit($event)" [formGroup]="teilzahlungenSuchenForm" #ngForm="ngForm" autocomplete="off">
    <div class="mt-3 search-padding">
        <h3>
            <span class="fa fa-search mr-2"></span>
            <span>{{ 'amm.zahlungen.label.teilzahlung' | translate }}</span>
        </h3>
        <br />
        <avam-label-input
            controlName="teilzahlungNr"
            [inputClass]="'col'"
            [parentForm]="teilzahlungenSuchenForm"
            placeholder="{{ 'amm.zahlungen.label.teilzahlungsnr' | translate }}"
            (onInput)="toggleEnabledInputs($event)"
            (onChange)="toggleEnabledInputs($event)"
        ></avam-label-input>
        <avam-label-input
            controlName="titel"
            [inputClass]="'col'"
            [parentForm]="teilzahlungenSuchenForm"
            placeholder="{{ 'amm.zahlungen.label.titel' | translate }}"
        ></avam-label-input>
        <avam-unternehmen-autosuggest
            id="anbieter"
            controlName="anbieter"
            isAvamOnly="true"
            [parentForm]="teilzahlungenSuchenForm"
            container="body"
            placeholder="{{ 'amm.anbieter.label.anbieter' | translate }}"
            [scrollIntoView]="false"
            [readOnly]="disableInputs"
        ></avam-unternehmen-autosuggest>
        <br />
        <avam-label-calendar
            inputClass="col-12"
            controlName="gueltigVon"
            [parentForm]="teilzahlungenSuchenForm"
            id="gueltigVon"
            inputPlaceholder="{{ 'amm.abrechnungen.label.ausfuehrungsdatumvon' }}"
            [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
            (dateChange)="checkRequiredDate()"
        ></avam-label-calendar>
        <avam-label-calendar
            inputClass="col-12"
            controlName="gueltigBis"
            [parentForm]="teilzahlungenSuchenForm"
            id="gueltigBis"
            inputPlaceholder="{{ 'amm.abrechnungen.label.ausfuehrungsdatumbis' }}"
            [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
            (dateChange)="checkRequiredDate()"
        ></avam-label-calendar>
        <br />
        <avam-prepend-dropdown
            id="statusId"
            [placeholder]="'common.label.waehlen'"
            [parentForm]="teilzahlungenSuchenForm"
            controlName="statusTeilzahlung"
            [selectLabel]="'common.label.status'"
            [options]="statusOptions"
        >
        </avam-prepend-dropdown>
    </div>
</form>
