<or-column-layout [right]="false" avamNavCollapsedCheck>
    <div column-left-content class="sticky-main" (keyup.enter)="submit()">
        <or-spinner channel="{{ formSpinnerChannel }}"></or-spinner>
        <avam-aufgaben-search-form #searchForm class="sticky-main"></avam-aufgaben-search-form>
    </div>
    <div column-left-content class="sticky-footer sticky-actions">
        <button type="reset" class="btn btn-link" (click)="reset()">
            {{ 'common.button.zuruecksetzen' | translate }}
        </button>
        <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="searchForm.searchFormGroup.invalid">
            <span class="fa fa-search mr-2"></span> <span>{{ 'common.button.suchen' | translate }}</span>
        </button>
    </div>
    <div column-main-content class="h-100 default-layout">
        <or-spinner channel="{{ resultSpinnerChannel }}"></or-spinner>
        <avam-aufgaben-search-result #searchResult (onOpenAufgabe)="openAufgabe($event)" class="sticky-main"></avam-aufgaben-search-result>
        <ng-template #buttons>
            <button class="btn btn-secondary ml-1 keepDisabled" type="button" (click)="searchResult.onDeleteButton()" [disabled]="searchResult.aufgabeLoeschenDisabled">
                {{ 'geko.button.aufgabeLoeschen' | translate }}
            </button>
        </ng-template>
        <avam-action-footer [buttonsTemplate]="buttons"></avam-action-footer>
    </div>
</or-column-layout>
