<avam-generic-table [dataSource]="dataSource" [headers]="displayedColumns" [sortField]="buchungsDatum" [sortOrder]="-1" [stateKey]="getStateKey()">
    <ng-container *ngFor="let column of tableColumns" [cdkColumnDef]="column?.columnDef">
        <th [sortable-column]="column.columnDef" cdk-header-cell *cdkHeaderCellDef>
            <div class="header-container">
                <span [ngbTooltip]="column.header | translate" triggers="manual" #t="ngbTooltip" [avamTableTooltip]="t">
                    <sort-icon [column]="column.columnDef"></sort-icon>
                    {{ column.header | translate }}
                </span>
            </div>
        </th>
        <ng-container *ngIf="column.columnDef === 'actions'">
            <td cdk-cell *cdkCellDef="let row">
                <div class="btn-group">
                    <div #aktionen="ngbDropdown" class="dropdown" ngbDropdown container="body" placement="bottom-right">
                        <button class="btn btn-secondary btn-sm buttonOnHover ml-1" ngbDropdownToggle (click)="aktionen.open()">
                            {{ 'i18n.common.actions' | translate }}
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="dropdown-item" (click)="onAction()">
                                {{ 'kaeswe.label.rahmenfristDetails' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container *ngIf="column.columnDef === 'betrag' || column.columnDef === 'kaeSweAGAnteil'">
            <td cdk-cell *cdkCellDef="let row">
                <span [ngbTooltip]="column.cell(row) | formatSwissFranc" triggers="manual" #t="ngbTooltip" [avamTableTooltip]="t" *ngIf="column.cell(row)">
                    {{ column.cell(row) | formatSwissFranc }}
                </span>
            </td>
        </ng-container>
        <td cdk-cell *cdkCellDef="let row">
            <avam-generic-table-cell [column]="column" [row]="row"></avam-generic-table-cell>
        </td>
    </ng-container>
</avam-generic-table>
