<div [formGroup]="parentForm" #ngForm="ngForm">
    <div
        class="row mb-2"
        [ngClass]="{
            'form-group': !readOnly
        }"
    >
        <div *ngIf="selectLabel" class="{{ isUpperLabel ? 'col-lg-12 col-md-12' : 'col-lg-4 col-md-4  text-right' }} col-form-label">
            <label class="mb-2" for="{{ id }}InputLable"> {{ selectLabel | translate }}</label>
        </div>
        <div class="{{ inputClass ? inputClass : 'col-lg-8 col-md-8' }} align-self-center">
            <div class="avam-input-modal" [hidden]="readOnly">
                <div class="input-wrapper" orFormControlState>
                    <core-input
                        dynamicControlName
                        [formControlName]="controlName"
                        [disableControl]="isDisabled"
                        ngbTooltip="{{ toolTipText | translate }}"
                        placeholder="{{ placeholder | translate }}"
                        [type]="type"
                        [coreReadOnly]="coreReadOnly"
                        [coreReadOnlyClearButton]="coreReadOnlyClearButton"
                        #t="ngbTooltip"
                        triggers="manual"
                        (onInput)="input($event)"
                        (onChange)="change($event)"
                        (onKeyup)="keyup($event)"
                        (onBlur)="blur($event)"
                        (mouseover)="toolTipText ? t.open() : null"
                        (mouseleave)="toolTipText ? t.close() : null"
                    ></core-input>
                    <or-error-messages></or-error-messages>
                </div>
                <div class="input-group-append d-block">
                    <button
                        class="btn btn-secondary hover-color-change rounded-0"
                        [hidden]="hideOpenModalBtn"
                        type="button"
                        (click)="openModal()"
                        ngbTooltip="{{ modalTooltip | translate }}"
                    >
                        <span class="fa fa fa-clone"></span>
                    </button>
                </div>
            </div>

            <div *ngIf="readOnly">
                <p class="mb-2 p-value-left-12">
                    {{ inputValue }}
                </p>
            </div>
        </div>
    </div>
</div>
