.inline-components-table {
    .avam-generic-table {
        .table th,
        .table td {
            padding: 0.55rem !important;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
    }
}

.button-wrapper {
    display: flex;

    button {
        display: flex;
        margin: 0px auto;
    }
}
