hr {
    margin-top: 0;
    margin-bottom: 8px;
}

.sachverhaltlohnausfall {
    position: relative;
}

.sachverhaltlohnausfall-currency {
    position: absolute;
    font-weight: 700;
    top: 0.6rem;
    right: 28%;
}
