<div class="sticky">
    <div class="sticky-main">
        <or-column-layout orColumnLayoutExtension [left]="true" [right]="false" avamNavCollapsedCheck>
            <div column-left-content class="default-layout">
                <br />
                <p class="wizard-back-link">
                    <span class="mouse-pointer" (click)="zuAmm()"
                        ><span class="fa fa-caret-left" aria-hidden="true"></span> {{ 'amm.massnahmen.label.zurammuebersicht' | translate }}</span
                    >
                </p>
                <hr class="nm-t-6" />
                <h3>{{ 'amm.massnahmen.label.massnahmeBuchen' | translate }}</h3>
                <avam-wizard service="massnahmeBuchen">
                    <avam-wizard-step stepId="1" text="amm.massnahmen.subnavmenuitem.angebotWaehlen" (stepEnter)="updateCurrentStep($event)"></avam-wizard-step>
                    <avam-wizard-step stepId="2" text="amm.massnahmen.subnavmenuitem.buchungErfassen" (stepEnter)="updateCurrentStep($event)"></avam-wizard-step>
                    <avam-wizard-step stepId="3" text="amm.massnahmen.subnavmenuitem.beschreibung" (stepEnter)="updateCurrentStep($event)"></avam-wizard-step>
                    <avam-wizard-step stepId="4" text="amm.massnahmen.subnavmenuitem.durchfuehrungsort" (stepEnter)="updateCurrentStep($event)"></avam-wizard-step>
                </avam-wizard>
            </div>
            <div column-main-content class="default-layout h-100">
                <avam-stes-info-bar *ngIf="currentStep !== 0 && stesHeader" [data]="stesHeader"></avam-stes-info-bar>
                <avam-alert *ngIf="currentStep !== 0"></avam-alert>
                <router-outlet></router-outlet>
            </div>
        </or-column-layout>
    </div>
</div>
