<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'stes.asal.label.uebersichtZwischenverdienst' | translate }}
        <app-result-count [dataLength]="rahmenfristenZwischenverdienstData.length"></app-result-count>
    </h4>
    <div class="mr-3">
        <app-toolbox [configuration]="modalToolboxConfiguration" [id]="rahmenfristenZwischenverdienstToolboxId"></app-toolbox>
    </div>
</div>
<div class="modal-body scrollable-modal-body pre-scrollable max-height-none">
    <or-spinner [channel]="rahmenfristenZwischenverdienstChannel"></or-spinner>
    <div class="row mb-4">
        <div class="links col-xl-6">
            <div class="avam-panel h-100">
                <app-paragraph id="name" label="{{ 'stes.label.name' }}" [value]="data ? data.namePersReg : ''"></app-paragraph>
                <app-paragraph id="vorname" label="{{ 'stes.label.vorname' }}" [value]="data ? data.vornamePersReg : ''"></app-paragraph>
                <app-paragraph id="personennr" label="{{ 'stes.label.personennr' }}" [value]="data ? data.personenNr : ''"> </app-paragraph>
                <app-paragraph id="svnr" label="{{ 'stes.label.svnr' }}" [value]="data ? data.versichertenNr : ''"></app-paragraph>
            </div>
        </div>

        <div class="rechts col-xl-6">
            <div class="avam-panel h-100">
                <app-paragraph id="alkZahlstelle" label="{{ 'stes.label.alkZahlstelle' }}" [value]="data ? data.rahmenfristZahlstelle : ''"></app-paragraph>
                <app-paragraph id="rahmenfrist" label="{{ 'common.label.rahmenfrist' }}" [value]="data ? data.rahmenfrist : ''"></app-paragraph>
                <app-paragraph id="pauschalcode" label="{{ 'stes.asal.label.pauschalCodeV' }}" [value]="data ? data.grundPauschalText : ''"></app-paragraph>
                <app-paragraph id="versicherterverdienst" label="{{ 'amm.nutzung.label.versicherterverdienst' }}" [value]="data ? data.versichertenVerdienst : ''"></app-paragraph>
                <app-paragraph id="taggeldsatz" label="{{ 'amm.nutzung.label.taggeldsatz' }}" [value]="data ? data.taggeldProzentsatz : ''"></app-paragraph>
            </div>
        </div>
    </div>
    <avam-rahmenfristen-zwischenverdienst-table
        *ngIf="rahmenfristenZwischenverdienstData"
        [dataSource]="rahmenfristenZwischenverdienstData"
    ></avam-rahmenfristen-zwischenverdienst-table>
    <label id="pauschalcode">{{ 'stes.asal.label.anzahlKontrollperiodenMitZV' | translate }}: {{ anzahlKontrollperiodenMitZV }}</label>
</div>
<div class="modal-footer justify-content-between">
    <span>{{ modalNumber }}</span>
    <button class="btn btn-link" (click)="close()">{{ 'common.button.abbrechen' | translate }}</button>
</div>
<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="rahmenfristenZwischenverdienstData">
        <avam-rahmenfristen-zwischenverdienst-table
            *ngIf="rahmenfristenZwischenverdienstData"
            [dataSource]="rahmenfristenZwischenverdienstData"
        ></avam-rahmenfristen-zwischenverdienst-table>
    </avam-generic-table-print>
</ng-template>
