<avam-generic-table [id]="id" [headers]="displayedColumns" [dataSource]="data" sortField="berufsTaetigkeit" sortOrder="1">
    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column?.columnDef">
        <th [ngClass]="{ 'avam-column-width': column.fixWidth }" [sortable-column]="column.columnDef" cdk-header-cell *cdkHeaderCellDef>
            <avam-generic-table-header-cell [column]="column"></avam-generic-table-header-cell>
        </th>
        <ng-container *ngIf="column.columnDef === 'actions'">
            <td class="avam-table-action-colum" cdk-cell *cdkCellDef="let row">
                <button
                    (primaryButtonClick)="onClick(row)"
                    avamPrimaryButtonDirective
                    class="fa fa-eye btn btn-primary btn-sm buttonOnHover"
                    type="button"
                    ngbTooltip="{{ 'common.button.oeffnen' | translate }}"
                ></button>
            </td>
        </ng-container>
        <td cdk-cell *cdkCellDef="let row">
            <avam-generic-table-cell [column]="column" [row]="row"></avam-generic-table-cell>
        </td>
    </ng-container>
</avam-generic-table>
