<form #ngForm="ngForm" closeBrowserTab autocomplete="off" [formGroup]="stesAufgabErfassenForm">
    <div class="row">
        <or-spinner [channel]="aufgabenErfSpinnerChannel"></or-spinner>
        <div class="links col-xl-6">
            <div class="avam-panel">
                <avam-label-dropdown
                    avamAutofocus
                    selectLabel="{{ 'geko.label.geschaeftsart' }}"
                    [parentForm]="stesAufgabErfassenForm"
                    controlName="geschaeftsart"
                    id="geschaeftsart"
                    placeholder="stes.placeholder.select.waehlen"
                    [options]="geschaeftsartenOptions"
                ></avam-label-dropdown>
                <avam-label-dropdown
                    selectLabel="{{ 'geko.label.prioritaet' }}"
                    [hideEmptyOption]="true"
                    [parentForm]="stesAufgabErfassenForm"
                    controlName="prioritaet"
                    id="prioritaet"
                    [options]="prioritaetOptions"
                ></avam-label-dropdown>
                <app-textarea customFormControlState id="aufgabentext" formControlName="aufgabentext" selectLabel="geko.label.aufgabenText" [maxLength]="1536"></app-textarea>
                <avam-label-calendar
                    controlName="faelligAm"
                    id="faelligAm"
                    calendarLabel="{{ 'geko.label.faelligAm' }}"
                    [parentForm]="stesAufgabErfassenForm"
                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                ></avam-label-calendar>
                <avam-label-dropdown
                    *ngIf="isBearbeiten"
                    selectLabel="{{ 'geko.label.status' }}"
                    [hideEmptyOption]="true"
                    [parentForm]="stesAufgabErfassenForm"
                    controlName="status"
                    id="status"
                    [options]="statusOptions"
                    (onChange)="setFaelligAmValidators($event)"
                ></avam-label-dropdown>
            </div>
        </div>
        <div class="rechts col-xl-6">
            <div class="avam-panel">
                <div class="d-flex ml-xl-4">
                    <div class="w-100">
                        <avam-benutzerstelle-autosuggest
                            (onInput)="updateBenutzerstelle($event)"
                            id="benutzerstellenId"
                            [parentForm]="stesAufgabErfassenForm"
                            controlName="benutzerstelle"
                            [benutzerstelleSuchenTokens]="benutzerstelleSuchenTokens"
                            componentLabel="{{ 'geko.label.benutzerstelle' | translate }}"
                            placeholder="{{ 'geko.placeholder.benutzerstellenId' | translate }} "
                            [type]="benutzerstelleAutosuggestType"
                        ></avam-benutzerstelle-autosuggest>
                    </div>
                    <div class="form-group">
                        <button
                            type="button"
                            class="btn btn-secondary rounded-0"
                            ngbTooltip="{{ 'benutzerverwaltung.label.benutzerstellensuchen' | translate }}"
                            (click)="openBenutzerstelleSuche(benutzerstelleSuche)"
                        >
                            <span class="fa fa-search-plus"></span>
                        </button>
                    </div>
                </div>
                <avam-personalberater-autosuggest
                    #zuestaendig
                    id="zuestaendig"
                    controlName="zuestaendig"
                    [parentForm]="stesAufgabErfassenForm"
                    componentLabel="{{ 'geko.label.zustandig' | translate }}"
                    (onSelect)="updateBenutzerZustaendig($event)"
                    (onInput)="onInputBenutzerZustaendig($event)"
                    [benutzerSuchenTokens]="benutzerSuchenTokens"
                    [type]="personalberaterAutosuggestType"
                    placeholder="{{ 'stes.placeholder.personalberater' | translate }}"
                ></avam-personalberater-autosuggest>
                <avam-personalberater-autosuggest
                    #initialisiertDurch
                    id="benutzerVerantwortlich"
                    controlName="initialisiertDurch"
                    [parentForm]="stesAufgabErfassenForm"
                    [isDisabled]="true"
                    componentLabel="{{ 'geko.label.initialisiert' | translate }}"
                    [benutzerSuchenTokens]="benutzerSuchenTokens"
                    [type]="personalberaterAutosuggestType"
                    placeholder="{{ 'geko.label.initialisiert' | translate }}"
                ></avam-personalberater-autosuggest>
            </div>
        </div>
    </div>
</form>
<ng-template #benutzerstelleSuche>
    <app-benutzerstelle-suche [uebergebeneDaten]="benutzerstelleSucheParams" (emitBenutzerstelle)="updateBenutzerstelleSuche($event)"></app-benutzerstelle-suche>
</ng-template>
<ng-template #buttons>
    <button class="btn btn-link" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button class="btn btn-link" type="button" (click)="reset()">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button [hidden]="!isBearbeiten" class="btn btn-secondary ml-1" type="button" (click)="openDeleteWindow()">
        {{ 'geko.button.aufgabeLoeschen' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="button" (click)="save()">
        {{ 'common.button.speichern' | translate }}
    </button>
</ng-template>
<avam-action-footer [buttonsTemplate]="buttons"></avam-action-footer>
