<form [formGroup]="formGroup" #ngForm="ngForm" closeBrowserTab [form]="formGroup" autocomplete="off">
    <div class="print-block row">
        <div class="col-md-6">
            <div class="avam-panel">
                <h3 class="font-weight-300">{{ 'amm.planundakqui.label.restwert' | translate }}</h3>
                <avam-label-input
                    controlName="budgetposition"
                    [parentForm]="formGroup"
                    selectLabel="amm.budgetierung.label.budgetposition"
                    [readOnly]="true"
                    labelClass="col-lg-3 col-md-3"
                    inputClass="col-lg-9 col-md-9"
                ></avam-label-input>
                <avam-bew-restwert-table [dataSource]="restwertDataSource" [planwertType]="planwertType"></avam-bew-restwert-table>
            </div>
            <div class="avam-panel">
                <avam-date-range-picker
                    id="gueltigVonBis"
                    label="amm.administration.label.gueltig"
                    [parentForm]="formGroup"
                    formControlNameFrom="gueltigVon"
                    formControlNameTo="gueltigBis"
                    wrapperClass="col-lg-8 col-md-8"
                    inputClass="mr-4"
                    [isResponsive]="true"
                    [isDisabled]="planwertDTO?.typ?.code === planwerttypEnum.KURS"
                ></avam-date-range-picker>
            </div>
            <div class="avam-panel">
                <div *ngIf="planwertDTO?.typ?.code !== planwerttypEnum.PRODUKT">
                    <avam-label-dropdown
                        inputClass="col-4"
                        class="col-3"
                        [parentForm]="formGroup"
                        controlName="preismodellTypDropdown"
                        id="preismodellTypDropdown"
                        [options]="preismodellTypDropdownOptions"
                        selectLabel="amm.abrechnungen.label.preismodelltyp"
                        [hideEmptyOption]="true"
                    ></avam-label-dropdown>
                    <div class="row">
                        <avam-label-dropdown
                            inputClass="col-lg-6 col-md-6"
                            class="col-8"
                            [parentForm]="formGroup"
                            controlName="preismodellDropdown"
                            id="preismodellDropdown"
                            [options]="presmodellOptions"
                            selectLabel="amm.planundakqui.label.preismodell"
                            [hideEmptyOption]="true"
                            labelClass="col-lg-6 col-md-6"
                            [readOnly]="presmodellOptions?.length === 1"
                        ></avam-label-dropdown>
                        <div class="col-md-4 pr-1">
                            <avam-currency-input
                                controlName="preismodellInput"
                                [parentForm]="formGroup"
                                id="preismodellInput"
                                secondaryLabel="common.label.chf"
                                [customInputClass]="'col-md-8 flex-row-reverse'"
                                customSecondaryLabelClass="col-md-3 pl-2"
                                [integerOnly]="true"
                            ></avam-currency-input>
                        </div>
                    </div>
                </div>
                <avam-bew-preismodel-table [planwertType]="planwertType" [parentForm]="formGroup"></avam-bew-preismodel-table>
            </div>
            <div class="avam-panel">
                <label>{{ 'amm.nutzung.label.ergaenzendeAngaben' | translate }}</label>
                <app-textarea [id]="'ergaenzendeAngaben'" formControlName="ergaenzendeAngaben" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="avam-panel">
                <avam-label-input
                    controlName="planwertNr"
                    [inputClass]="'col'"
                    [parentForm]="formGroup"
                    selectLabel="{{ 'amm.planung.label.planwertnr' | translate }}"
                    [readOnly]="true"
                ></avam-label-input>
            </div>
        </div>
    </div>
</form>
