<div>
    <avam-benutzerstelle-erweiterte-daten-bearbeiten-form #form [data]="data"></avam-benutzerstelle-erweiterte-daten-bearbeiten-form>
    <or-spinner [channel]="channel"></or-spinner>
</div>
<ng-template #footerButtons>
    <button class="btn btn-link" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button class="btn btn-link ml-1" type="button" (click)="form.reset()">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="button" (click)="save()" [permissions]="[savePermission]">
        {{ 'common.button.speichern' | translate }}
    </button>
</ng-template>
<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
