<div>
    <or-spinner [channel]="zieleChannel"></or-spinner>
    <avam-wdgziele-table *ngIf="tableData" [dataSource]="tableData" (onItemSelected)="itemSelected($event)"></avam-wdgziele-table>
</div>
<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="tableData">
        <avam-wdgziele-table *ngIf="tableData" [dataSource]="tableData"></avam-wdgziele-table>
    </avam-generic-table-print>
</ng-template>

<ng-template #footerButtons>
    <button class="btn btn-primary ml-1" type="button" (click)="navigateZielErfassen()" [permissions]="[permissions.STES_ANMELDEN_BEARBEITEN]">
        <span class="fa fa-plus mr-2"></span>
        {{ 'common.button.wiedereingliederungszielerfassen' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
