.avam-panel {
    margin: 0px;
}

.form-buttons {
    padding: 27px 15px 15px 15px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.table-padding {
    padding-left: 0;
}
.main-container {
    margin: 0;
}
