<form [formGroup]="formGroup" #ngForm="ngForm" closeBrowserTab [form]="formGroup" autocomplete="off">
    <div class="print-block row">
        <div class="col-md-6">
            <div class="avam-panel">
                <avam-label-dropdown
                    avamAutofocus
                    [parentForm]="formGroup"
                    controlName="erfassungssprache"
                    id="erfassungssprache"
                    [options]="spracheOptions"
                    selectLabel="amm.massnahmen.label.erfassungssprache"
                    [hideEmptyOption]="true"
                >
                </avam-label-dropdown>
            </div>
            <div class="avam-panel" *ngIf="this.formGroup.value.erfassungssprache === spracheEnum.DEUTSCH">
                <div>
                    <label>{{ 'amm.massnahmen.label.titelde' | translate }}</label>
                    <app-textarea id="titelDe" formControlName="titelDe" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
                <div>
                    <label>{{ 'amm.massnahmen.label.bemerkungD' | translate }}</label>
                    <app-textarea id="ergaenzendeAngabenDe" formControlName="ergaenzendeAngabenDe" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
            </div>
            <div class="avam-panel" *ngIf="this.formGroup.value.erfassungssprache === spracheEnum.FRANZOESISCH">
                <div>
                    <label>{{ 'amm.massnahmen.label.titelfr' | translate }}</label>
                    <app-textarea id="titelFr" formControlName="titelFr" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
                <div>
                    <label>{{ 'amm.massnahmen.label.bemerkungF' | translate }}</label>
                    <app-textarea id="ergaenzendeAngabenFr" formControlName="ergaenzendeAngabenFr" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
            </div>
            <div class="avam-panel" *ngIf="this.formGroup.value.erfassungssprache === spracheEnum.ITALIENISCH">
                <div>
                    <label>{{ 'amm.massnahmen.label.titelit' | translate }}</label>
                    <app-textarea id="titelIt" formControlName="titelIt" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
                <div>
                    <label>{{ 'amm.massnahmen.label.bemerkungI' | translate }}</label>
                    <app-textarea id="ergaenzendeAngabenIt" formControlName="ergaenzendeAngabenIt" [fullWidth]="true" customFormControlState [maxLength]="255"></app-textarea>
                </div>
            </div>
            <div class="avam-panel">
                <avam-date-range-picker
                    id="gueltigVonBis"
                    class="form-group"
                    label="amm.massnahmen.label.gueltig"
                    [parentForm]="formGroup"
                    formControlNameFrom="gueltigVon"
                    formControlNameTo="gueltigBis"
                    [isResponsive]="true"
                ></avam-date-range-picker>
            </div>
            <div class="avam-panel">
                <avam-unternehmen-autosuggest
                    [parentForm]="formGroup"
                    controlName="anbieter"
                    componentLabel="amm.massnahmen.label.anbieter"
                    suchePlusLabel="amm.massnahmen.label.anbieter"
                    [isAvamOnly]="true"
                    [readOnly]="hasSession"
                ></avam-unternehmen-autosuggest>
            </div>
            <div class="avam-panel">
                <avam-personalberater-autosuggest
                    id="massnahmenverantwortung"
                    [parentForm]="formGroup"
                    controlName="massnahmenverantwortung"
                    componentLabel="{{ 'amm.massnahmen.label.massnahmenverantwortung' }}"
                    [benutzerSuchenTokens]="benutzerSuchenTokens"
                    [type]="benutzerType"
                ></avam-personalberater-autosuggest>
            </div>
        </div>
        <div class="col-md-6">
            <div class="avam-panel">
                <avam-label-input
                    id="massnahmeNr"
                    selectLabel="amm.massnahmen.label.massnahmennr"
                    [parentForm]="formGroup"
                    controlName="massnahmeNr"
                    [readOnly]="true"
                ></avam-label-input>
            </div>
        </div>
    </div>
</form>
