<div class="sticky">
    <div class="sticky-main">
        <or-spinner [channel]="wizardService.channel"></or-spinner>
        <or-column-layout orColumnLayoutExtension [left]="true" [right]="false" avamNavCollapsedCheck>
            <div column-left-content class="default-layout">
                <label class="mt-3"> {{ 'benutzerverwaltung.topnavmenuitem.rolleerfassen' | translate }} </label>
                <avam-wizard service="rolleErfassenWizardService">
                    <avam-wizard-step
                        stepId="1"
                        text="{{ 'benutzerverwaltung.subnavmenuitem.grunddaten' | translate }}"
                        navigate="benutzerverwaltung/rolle/erfassen/grunddaten"
                    ></avam-wizard-step>
                    <avam-wizard-step
                        stepId="2"
                        text="{{ 'benutzerverwaltung.subnavmenuitem.berechtigungen' | translate }}"
                        navigate="benutzerverwaltung/rolle/erfassen/berechtigungen"
                    ></avam-wizard-step>
                </avam-wizard>
            </div>
            <div column-main-content class="default-layout h-100">
                <avam-amm-infopanel></avam-amm-infopanel>
                <avam-alert></avam-alert>
                <router-outlet></router-outlet>
            </div>
        </or-column-layout>
    </div>
</div>
