<div class="overflow-hidden mh-100 pt-3">
    <or-spinner [channel]="vermittlungenChannel"></or-spinner>
    <avam-common-wrapper-table
        [dataSource]="tableConfig.data"
        [columns]="tableConfig.columns"
        [config]="tableConfig.config"
        (onRowSelect)="selectItem($event)"
    ></avam-common-wrapper-table>
</div>

<ng-template #modalPrint>
    <avam-generic-table-print [dataSource]="tableConfig.data">
        <avam-common-wrapper-table [dataSource]="tableConfig.data" [columns]="printColumns" [config]="printConfig"></avam-common-wrapper-table>
    </avam-generic-table-print>
</ng-template>

<ng-template #footerButtons>
    <button *ngIf="isErfassenAllowed()" class="btn btn-primary ml-1" type="button" (click)="erfassen()" [permissions]="[permissions.KEY_STES_VM_OSTE_ZUWEISUNG_SUCHEN]">
        <i class="fa fa-plus mr-2"></i>{{ 'common.button.vermittlungErfassen' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>
