.sticky-footer {
    width: 80%;
    position: fixed;
    bottom: 34px;
    right: 0;
    background: #fefefe;
    margin-left: -15px;
    box-shadow: none !important;
    border-top: 1px solid #d5d5d5 !important;

    &.full-width {
        width: 100% !important;
    }
}
