<avam-bew-produkt-grunddaten-form #grunddatenFormComponent [grunddatenData]="grunddatenData"></avam-bew-produkt-grunddaten-form>

<ng-template #footerButtons>
    <button class="btn btn-link" type="button" (click)="cancel()">
        {{ 'common.button.abbrechen' | translate }}
    </button>
    <button class="btn btn-link ml-1" type="button" (click)="reset()" [permissions]="[permissions.AMM_MASSNAHMEN_BEARBEITEN]">
        {{ 'common.button.zuruecksetzen' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="button" (click)="moveNext()" [permissions]="[permissions.AMM_MASSNAHMEN_BEARBEITEN]">
        {{ 'common.button.weiter' | translate }}
    </button>
</ng-template>

<avam-action-footer [buttonsTemplate]="footerButtons"></avam-action-footer>

<ng-template #infobarTemplate>
    <div class="item">
        <span>{{ organisation }}</span>
    </div>
</ng-template>
